
@import url('fonts.css');
@import url(//db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever);

/* BACKGROUND */
body{
background:url('Assets/arrière_plan.png') no-repeat;
text-align: justify;
background-color: #021740;
}

  /*HEADER*/
  header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 7% ;
  }
  
  .logo{
    min-width: 20%;
    display: row ;
    align-self: center;
    justify-content: center;
    place-items: center;
    align-items: center;
  }

  .navigation{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .navigation a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Beyno";
    font-size: 1.1rem;
    }
    .navigation a:hover{
      text-decoration: underline;
      color: #ffffff;
      font-family: "Beyno";
      font-size: 1.3rem;
      }
    .navigation a:active{
      text-decoration: underline;
      color: #9E91B7;
      font-weight: 300;
      font-family: "Beyno";
      font-size: 1.2rem;
      transform: translateY(-0.3rem);
      transition: all 1s ease;
      }
      
 
/*TYPOGRAPHY*/
h1{
  font-size: 3rem ;
  font-weight: 100;
  letter-spacing: 6px;
  color: #F2CEF2;
  font-family: 'Beyno' ;
  padding-bottom: 0;
}
h2{
  font-size: 2.9rem ;
  font-weight: 100;
  letter-spacing: 3px;
  color: #F2CEF2;
  font-family: 'Beyno' ;
  padding-top: 0;
}
p{
  font-size: 0.73rem ;
  text-align: justify;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 100;
  font-family: 'Cantarell' ;
}
h3{
  font-size: 1.5rem ;
  font-weight: light;
  letter-spacing: 3px;
  word-spacing: 1rem;
  line-height: 3rem;
  color: #9E91B7;
  font-family: 'Wakanda Forever' ;
  padding-top: 1rem;
}
span{
  line-height: 1.5rem;
  font-family: 'Wakanda Forever';
  font-size: 1rem ;
}
.enigme-title {
  font-family: 'Beyno';
  color: #9E91B7;
  text-decoration: underline;
  font-size: 1.5rem ;
}

.enigme-title strong{
  font-family: Arial, Helvetica, sans-serif;
}

/* Side icons*/
.side-icons{
  width: 6rem;
  display: flex;
  justify-content: center;
  position: fixed;
top: 0%;
left: 1%;
}
.first-line{
background-color: #9E91B7;
height: 28rem;
width: 2.5px;
}
.second-line{
  background-color: #9E91B7;
  height: 20rem;
  width: 2px;
  margin-inline: auto;
  }
.second{
  width: 30%;
  display: block;
  
}
.second a{
  text-decoration: none;
  margin-inline: auto;
}
.icons{
  margin-inline:auto ;
  width: 50%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  place-items: center;
  padding-inline:auto ;
}
.icons i{
  padding-top: 1em ;
  display: block;
  place-self: center;
  margin-inline: auto;
  padding-inline:auto ;
  color: #9E91B7;
}
.icons i:hover{
  transform: scale(1.5);
  color: #DF99F2;
}
   /*MAIN section 1*/
   .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image{
    width: 51%;
  }
  .content{
    padding-top: 12rem;
    padding-inline: auto;
    width: 47%;
  }
  .image img{
    width: 53rem;
    position: relative;
    top: 0rem;
    left: -2rem;
    object-fit: cover;
  }
  .deco{
    width: 40rem;
  }
  .deco2{
    width: 40rem;
    position: relative;
    bottom: 8rem;
    z-index: 100;
  }
  .float{
    width: 60%;
    position: relative;
    bottom: 18rem;
    left : 8rem;
    z-index: 100;
  }
/* MAIN  section2*/
.main-wrapper{
  padding-inline: 5rem;
  display: flex;
  
}
.gauche{
  padding-inline: 4rem;
  padding-top: 2rem;
  justify-items: center;
  display: block;
  width: 45rem;
}
.droite{
  width: 45rem;
}
#button {
  justify-content: center;
  color: #021740;
  justify-content: center;
  margin-top: 5em;
  margin-inline: auto;
  width: fit-content;
  padding: 2.5% 8%;
  background: #F2CEF2;
  border-radius: 3rem ;
}

#button:hover{
  box-shadow: 0px 0px 6px#FFFFFF ;
  justify-content: center;
  color: #021740;
  justify-content: center;
  margin-top: 5em;
  width: fit-content;
  margin-inline: auto;
  padding:  2.5% 8%;
  background: #F2CEF2;
  border-radius: 3rem ;
}

label{
  font-size: 0.9rem ;
  word-spacing: 2px;
  margin-left: .8rem;
  color: #FFFFFF;
  font-weight: 100;
  font-family: 'Cantarell' ;

}
input {
  align-self:center;
  margin-inline: auto;
  width: 96%;
  padding: .8rem;
  background: transparent;
  border: #F2CEF2 1.5px solid;
  border-radius: 3rem;
  color: #F2CEF2;
}
.float2{
  text-align: center;
  width: 65%;
  position: relative;
  bottom : 50%;
  left : 6rem;
  z-index: 100;
}
form{
  margin-top: 1rem;
  justify-content: center;
  
}
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}
/*POPUP*/
/* Styles pour le popup box */
#popupBox{
  display: none;
}

.popup {
  position: relative;
  margin-inline: auto;
  bottom: 45vh;
  width: 75%;
  height: 35vh;
  text-align: center;
background: linear-gradient(180deg, rgba(158,145,183,1) 0%, rgba(61,45,166,1) 100%);
  box-shadow: 0  -60px 60px 38px rgba(61, 45, 166, 1), 0  2px 13px 98px rgba(2, 23, 64, 1);
  border:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%);
  border-radius: 5%;
  border-width: 0.5px;
  z-index: 250;
}
.popup p{
  padding-inline:10% ;
  padding-top:15%;
  line-height: 2.4rem;
  font-size: medium;
  text-align: center;

}
#nextButton {
  align-self: center;
  color: #021740;
  margin-top: 1.5em;
  margin-inline: auto;
  justify-content: center;
  width: fit-content;
  padding:  .5rem 3rem;
  background: #F2CEF2;
  border-radius: 3rem ;
}

#nextButton:hover{
  box-shadow: 0px 0px 6px#021740 ;
}

/* COMING SOON  section*/
#comingSoonSection{
  margin-inline: 4%;
  display: none;
  padding-inline: 4%;
  justify-items: center;
}
#logo-figma{
  width: 18%;
  padding-inline:4% ;
}
#comingSoonSection h3{
  font-family: 'Cantarell';
  font-size: 1rem;
  color:#ffffff;
  font-weight: 700;
  margin-inline: auto;
  margin-block:0 ;
  padding-block:0 ;
}
#comingSoonSection h1{
  font-family: 'Cantarell';
  font-size: 1.8rem;
  color:#ffffff;
  font-weight: 900;
  margin-inline: auto;
  margin-block:0 ;
  padding-block:0 ;
}


/* FOOTER */

footer{
  background: url("Assets/back_footer.png") no-repeat;
  background-color: rgb(77, 114, 114);
  margin-block: 0;
  
}
.footer{  
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 15rem;
  padding-right: 8rem;
  display: flex;
}

.footer-image{
  float: left;
  flex: 1;
}
.top-down{
  flex: 2;
  justify-content: space-around;
  justify-items: center;
  padding-left: 6%;
}
.top-down > p{
  text-align: start;
  align-self: center;
  justify-self: center;
}
.side-to-side{
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.icon-list{
  display: flex;
  justify-items: center;
  justify-content: space-around;
}
.icon-list > img{
  width: wrap;
  max-width: 20rem;  
}
.icon-list > img:hover{
  width: wrap;
  transform: scale(1.6);
  transition: all .5s ease;
}
#footer-deco{
  width: 18rem;
}
#footer-logo{
  z-index: 100;
  position:relative;
  bottom: 53%;
  left: 19%;
}
.footer-image:hover{
  transform: scale(110%);
  transition: all 0.5s ease;
  
}
/* FOOTER TYPO*/
.footer h1{
  font-size: 1.5rem;
  Letter-spacing : 28% ;
  font-family:'Cantarell' ;
}
.footer a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-family:'Cantarell' ;
}
.footer a:hover{
  text-decoration: none;
  color: #9E91B7;
  font-weight: 400;
  font-size: 1.4rem;
  font-family:'Cantarell' ;
  transform: translateX(+30%);
}
.footer p{
  font-size: 1rem;
  font-family:'Cantarell' ;
}

/* EFFET FADE  IN */
.fade-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: fade-in-left 2s forwards;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* RESPONSIVENESS */

@media (max-width: 700px) {
  /* MAIn */
    /* main wrapper */
    .image {
      width: 3rem;
    }
    h3{
      font-size: 0.8rem;
    }
    .content h2,h1{
      font-size: 1rem;
    }
    .float2{
      width: 12rem;
      height: fit-content;
    }
    .float{
      position: absolute; 
      left:-50rem;
      width: 22rem;
      height: fit-content;
    }

   /*FOOTER responsive  pour les écrans moins de 700 px*/ 
   .footer{  
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 1em;
    overflow: hidden;
  }
  .side-to-side{
    flex-direction: column;
  }
  .icon-list > img{
    width: wrap;
    max-width: 10rem;  
  }
  .footer-image{
    display: none;
  }
  .footer h1{
    font-size: 0.9rem;
    Letter-spacing : 12% ;
  }
  .footer a{
    font-size: 0.7rem;
  }
  .footer p{
    font-size: 0.6rem;
  }
    
  }
  

@media (max-width: 975px) {
  /*HEADER responsive pour les écrans moins de 975 px **/
  .navigation{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
  }
  .navigation a{
    font-size: 1.1rem;
    padding-block: .5rem;
    text-align: right;
    }
    
    /* MAIn */
    /* main wrapper */
    .wrapper{
      padding-inline:5% ;
    margin-inline: auto;

    flex-direction: column;
    justify-content: space-between;
  }
  
  .image img{
    width: 30rem;
  }

    .main-wrapper{

      margin-inline:0 rem;
      padding-inline: 0rem;
      overflow: hidden;
    }
    h3{
      font-size: 1.2rem;
    }
    .content h2,h1{
      font-size: 2rem;
    }
    .alphabets{
      padding: 0;
      width: 60%;
    }
    .float2{
      position: relative; 
      left:0;
    }
    
   /*FOOTER responsive  pour les écrans moins de 975 px*/ 
   .footer{  
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 1em;
    overflow: hidden;
  }
  .side-to-side{
    flex-direction: column;
  }

  .icon-list > img{
    width: wrap;
    max-width: 10rem;  
  }
  #footer-deco{
    width: 18rem;
  }
  #footer-logo{
    z-index: 100;
    position:relative;
    bottom: 49%;
    left: 19.5%;
  }
  .icon-list{
    width: 65%;
  }
  .footer h1{
    font-size: 1.2rem;
    Letter-spacing : 22% ;
  }
  .footer a{
    font-size: 1rem;
  }
  .footer p{
    font-size: 0.7rem;
  }
    
  }
  
  @media (max-width: 1225px) {
    /* MAIn */
    /* main wrapper */
    .main-wrapper{
      padding-inline: 5rem;
      display: flex;
      flex-direction: column;
    }
    .float2{
      background-color: #9e91b756;
      border: #DF99F2 1px solid;
      border-radius:3rem ;
      margin-inline: auto;
      padding:2rem;
    }
    .deco{
      display:none ;
    }
    .deco2{
      display:none ;
    }
    .content{
      padding-top: 12rem;
      padding-inline: auto;
      width: 47%;
    }
    .float{
      background-color: #9e91b756;
      border: #DF99F2 1px solid;
      border-radius:3rem ;
      padding:2rem;
      margin-inline: auto;
      position: relative;
      top: 4rem;
      left: 0rem;
      margin-bottom: 2rem;
    }
    /*FOOTER responsive pour les écrans moins de 1225 px*/ 
    .footer{  
      padding-left: 4rem;
      padding-right: 2rem;
      overflow: hidden;
    }
    }

    /* ANIMATIONS*/
  /* Scrolling animations: apparition gauche droite) */
  .animation-slide {
    opacity: 0; /* L'élément est initialement invisible */
    transform: translateX(-100%); /* Décale l'élément complètement vers la gauche */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition d'opacité et de translation */
  }
  