@import url('fonts.css');
@import url(//db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever);

/* BACKGROUND */
body{
background:url('Assets/arrière_plan.png') no-repeat;
text-align: justify;
background-color: #021740;

}
  /*HEADER*/
  header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 7% ;
  }
  
  .logo{
    min-width: 20%;
    display: row ;
    align-self: center;
    justify-content: center;
    place-items: center;
    align-items: center;
  }

  .navigation{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .navigation a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Beyno";
    font-size: 1.1rem;
    }
    .navigation a:hover{
      text-decoration: underline;
      color: #ffffff;
      font-family: "Beyno";
      font-size: 1.3rem;
      }
    .navigation a:active{
      text-decoration: underline;
      color: #9E91B7;
      font-weight: 300;
      font-family: "Beyno";
      font-size: 1.2rem;
      transform: translateY(-0.3rem);
      transition: all 1s ease;
      }
/*TYPOGRAPHY*/
h1{
  font-size: 1rem ;
  font-weight: 100;
  
  color: #9E91B7;
  font-family: 'Beyno' ;
  padding-bottom: 0;
  padding-top: 0;
}

  h2{
    font-size: 2.9rem ;
    font-weight: 100;
    letter-spacing: 3px;
    color: #F2CEF2;
    font-family: 'Beyno' ;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  p{
    font-size: 0.73rem ;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: 'Cantarell' ;
    padding-bottom: 0.6rem;
  }
  .article-content span{
    color: #FFFFFF;
    font-size: 0.66rem ;
    line-height: 1rem;
    font-family: 'Cantarell';
  }
/* Side icons*/
.side-icons{
  width: 6rem;
  display: flex;
  justify-content: center;
  position: fixed;
top: 0%;
left: 1%;
}
.first-line{
background-color: #9E91B7;
height: 28rem;
width: 2.5px;
}
.second-line{
  background-color: #9E91B7;
  height: 20rem;
  width: 2px;
  margin-inline: auto;
  }
.second{
  width: 30%;
  display: block;
  
}
.second a{
  text-decoration: none;
  margin-inline: auto;
}
.icons{
  margin-inline:auto ;
  width: 50%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  place-items: center;
  padding-inline:auto ;
}
.icons i{
  padding-top: 1em ;
  display: block;
  place-self: center;
  margin-inline: auto;
  padding-inline:auto ;
  color: #9E91B7;
}
.icons i:hover{
  transform: scale(1.5);
  color: #DF99F2;
}


/* MAIN */
/* Première partie */
.container {
  margin-top: 2rem;
  margin-inline: 8rem;
  display: flex;
  flex-wrap: wrap;
}
.container h1{
  font-size: 3rem ;
  font-weight: 100;
  color: #9E91B7;
  font-family: 'Panthera' ;
  padding-bottom: 0;
}
.container span{
  font-size: 1.8rem ;
  font-weight: light;
  line-height: 3rem;
  color: #9E91B7;
  font-family: 'Beyno' ;
  padding-top: 0;
}
.image {
  flex: 7;
  min-width: 300px;
  padding-top: 8rem;
  background: url('Assets/Pantherhome1.png') no-repeat center;
  background-size: 80%;
  background-position-x: 100%;
}
.container p{
  font-size: 0.8rem ;
  text-align: left;
}

.text {
  flex: 5;
  min-width: 300px;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

p.more{
  font-size: 0.8rem ;
  text-decoration: underline;
  text-align: left;
  word-spacing: 2px;
  color: #Ffffff;
  font-weight: 100;
  font-family: 'Cantarell' ;
}

p.more:hover{
  font-size: 0.9rem ;
  transition: all .5s ease;
}

/* Slider */
.ri-arrow-right-s-line{
  color: #FFFFFF;
  background-color: #07338C;
  border-radius: 3rem;
  padding: .7rem;
  position: absolute;
  bottom: -10%;
  right: 2%;
  z-index: 1000;
}
.ri-arrow-right-s-line:hover{
  color: #07338C;
  background-color: #ffffff;
  border-radius: 3rem;
  transform: translateX(5);
}
.slide-container{
  margin-left: 8rem ;
  display: flex;  
}
.slider{
  display: flex;
}
.slide-next{
  display: flex;
  background-color: #021740;
  padding: 0;
  margin-block:2rem;
}

img.slider{
  width: 14rem;
  height: 18rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}
img.first{
  width: 19rem;
  height: 21rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}


.slide-container .article{
  height: auto;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-inline: 1rem ;
  }

/* Grid layout*/

.article-container {
  padding-top: 4rem;
  display: grid;
  margin-left: 10rem;
  margin-right: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

.article{
  height: fit-content;
}

article.aside{
  height: fit-content;

}

iframe.video{
  align-self: center;
  margin: auto;
  width: 34rem ;
  height: 17rem;
}

/* Box du personnage */
.box{
  padding-left: 8rem;
  justify-items: center;
  padding-right: 3rem;
  position: relative;
}

.image-container{
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 100;
  margin-inline: auto; 
  justify-self: center;
  align-self: center;
}
.image-container img{
  width: 20rem;
  object-fit: cover;
}

.details{
  margin-top: 8.5rem;
  margin-inline: auto; 
  background-color: #FFFFFF;
  border-radius: 1rem;
  width: 70%;
  padding-inline: 4rem ;
  padding-top: 19rem;
  padding-bottom: 2rem;
  position: relative;
  justify-content: initial;
}

.box .details h1{
  font-family: 'Cantarell';
  color: #171515;
  text-align: center;
  font-size: 1.5rem;
  line-height: initial;
}

.tag{
  display: flex;
  justify-content: space-between;
}
h6.tag{
  text-align: center;
  font-size: 0.7rem;
  padding: 1% 3%;
  font-weight: 400;
  font-family: 'Cantarell' ;
  background-color: #3D2DA6;
  border-radius: 10%;
  color: #ffffff;
}
h6.tag:hover{
  
  font-size: 0.8rem;
  background-color: #9E91B7;
  border-radius: 10%;
  color: #3D2DA6;
  border:  #3D2DA6 1px solid;
}
.no-margin {
  margin: 0;
  padding: 0;
}

.details p {
  color: #171515;
}
.details strong {
  font-size: 0.8rem;
  font-weight: 800;
  color: #171515;
  line-height: 1.5rem;
}
.details span {
  font-size: 0.6rem;
  color: #171515;
}
.panther{
  width: 80%;
 margin-left: 6rem;
 margin-bottom: 2rem;
}

/* FORM*/
.form-container {
  position: relative;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  place-content: center;
  justify-content: center;
}
.decoration{
  margin-inline: 0;
  margin-bottom: 6rem;
background: linear-gradient(315deg, rgba(255,255,255,0.13631390056022408) 0%, rgba(249,248,252,0) 100%);
}
.contact-form{
  position: absolute;
  z-index: 100;
  top: 0;
  align-self: center;
  margin-inline: auto;
  width: 35%;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.86) 0%, rgba(231, 225, 242, 0.37) 80%);
  justify-items: center;
  margin-top:12rem ;
  margin-inline: 18rem ;
  border-radius: 9rem ;
  padding-block: 2rem;
  padding-inline: 10rem ;
}
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}

#button {
  align-self: center;
  color: #021740;
  margin-top: 1.5em;
  margin-inline: auto;
  justify-content: center;
  width: fit-content;
  padding:  .5rem 3rem;
  background: #F2CEF2;
  border-radius: 3rem ;
}

#button:hover{
  box-shadow: 0px 0px 6px#021740 ;
}

input {
  align-self: center;
  margin-block: 0.5rem;
  align-self:center;
  margin-inline: auto;
  width: 96%;
  padding: .6rem;
  background: transparent;
  border: #021740 1px solid;
  border-radius: 3rem;
  color: #021740;
  outline-color: #F2CEF2;
}

input.message-input {
  border-radius: 1.2rem;
  padding-bottom: 9rem;
  
}
/* form typo */
.contact-form p{
  font-size:0.9rem ;
  text-align: center;
  color: #021740;
  font-family: 'Cantarell';
  line-height: inherit;

}
.contact-form strong{
  padding: 0;
  margin: O;
  text-align: center;
  color: #021740;
  font-size: 2.3rem ;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cantarell';

}
/*POPUP*/
/* Styles pour le popup box */
#popupBox{
  display: none;
}

.popup {
  position: relative;
  margin-inline: auto;
  bottom: 100vh;
  width: 25%;
  height: 37vh;
  text-align: center;
background: linear-gradient(180deg, rgba(158,145,183,1) 0%, rgba(61,45,166,1) 100%);
  box-shadow: 0  -60px 60px 38px rgba(61, 45, 166, 1), 0  2px 13px 98px rgba(2, 23, 64, 1);
  border:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%);
  border-radius: 5%;
  border-width: 0.5px;
  z-index: 250;
}

.popup p{
  padding-inline:10% ;
  padding-top:8%;
  font-size: medium;
}

#closeButton {
  border: #3b992a solid;
  align-self: center;
  color: #021740;
  margin-top: 1.5em;
  margin-inline: auto;
  justify-content: center;
  width: fit-content;
  padding:  .5rem 3rem;
  background: #F2CEF2;
  border-radius: 3rem ;
}

#closeButton:hover{
  box-shadow: 0px 0px 6px#021740 ;
}


      /* FOOTER */
footer{
    background: url("Assets/back_footer.png") no-repeat;
    background-color: rgb(77, 114, 114);
    margin: 0;
    
  }
  .footer{  
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
    padding-right: 8rem;
    display: flex;
  }
  
  .footer-image{
    float: left;
    flex: 1;
  }
  .top-down{
    flex: 2;
    justify-content: space-around;
    justify-items: center;
    padding-left: 6%;
  }
  .top-down > p{
    text-align: start;
    align-self: center;
    justify-self: center;
  }
  .side-to-side{
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  .icon-list{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  .icon-list > img{
    width: wrap;
    max-width: 20rem;  
  }
  .icon-list > img:hover{
    width: wrap;
    transform: scale(1.6);
    transition: all .5s ease;
  }
  .icon-list > img:hover{
    transform: rotate(20%);
  }
  #footer-deco{
    width: 18rem;
  }
  #footer-logo{
    z-index: 100;
    position:relative;
    bottom: 53%;
    left: 19%;
  }
  .footer-image:hover{
    transform: scale(110%);
    transition: all 0.5s ease;
    
  }
  /* FOOTER TYPO*/
  .footer h1{
    font-size: 1.5rem;
    letter-spacing: 6px;
    font-family:'Cantarell' ;
  }
  
  .footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-family:'Cantarell' ;
  }
  .footer a:hover{
    text-decoration: none;
    color: #9E91B7;
    font-weight: 400;
    font-size: 1.4rem;
    font-family:'Cantarell' ;
    transform: translateX(+30%);
  }
  .footer p{
    color: #ffffff;
    font-size: 1rem;
    font-family:'Cantarell' ;
  }
  
  /* EFFET FADE  IN */
  .fade-in-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in-left 2s forwards;
  }
  
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* RESPONSIVENESS*/
  /*HEADER responsive*/

  @media (max-width: 700px) {
    /*FOOTER responsive  pour les écrans moins de 700 px*/ 
    .footer{  
     padding-left: 4rem;
     padding-right: 2rem;
     padding-top: 4rem;
     padding-bottom: 1em;
     overflow: hidden;
   }
   .side-to-side{
     flex-direction: column;
   }
 
   .icon-list > img{
     width: wrap;
     max-width: 10rem;  
   }
   .footer-image{
     display: none;
   }
   .footer h1{
     font-size: 0.9rem;
     Letter-spacing : 12% ;
   }
   .footer a{
     font-size: 0.7rem;
   }
   .footer p{
     font-size: 0.6rem;
   }
     
   }
   
 
 @media (max-width: 975px) {
   /*HEADER responsive pour les écrans moins de 975 px **/
   .navigation{
     width: fit-content;
     display: flex;
     flex-direction: column;
     justify-items: space-between;
   }
   .navigation a{
     font-size: 1.1rem;
     padding-block: .5rem;
     text-align: right;
     }
    /*FOOTER responsive  pour les écrans moins de 975 px*/ 
    .footer{  
     padding-left: 4rem;
     padding-right: 2rem;
     padding-top: 4rem;
     padding-bottom: 1em;
     overflow: hidden;
   }
   .side-to-side{
     flex-direction: column;
   }
 
   .icon-list > img{
     width: wrap;
     max-width: 10rem;  
   }
   #footer-deco{
     width: 18rem;
   }
   #footer-logo{
     z-index: 100;
     position:relative;
     bottom: 49%;
     left: 19.5%;
   }
   .icon-list{
     width: 65%;
   }
   .footer h1{
     font-size: 1.2rem;
     Letter-spacing : 22% ;
   }
   .footer a{
     font-size: 1rem;
   }
   .footer p{
     font-size: 0.7rem;
   }
     
   }
   
 /* RESPONSIVENESS pour les écrans de 1225px et moins*/

   @media (max-width: 1225px) {
    /* Slider */
.ri-arrow-right-s-line{
  display: none;
}
.slide-container{
  margin-inline:auto ;
  flex-direction: column;
  width: 50%;
}
.slider{
  display: flex;
}
.slide-next{
  margin-inline:auto ;
  flex-direction: column;
  background-color: transparent;
}

.slide-container .article{
  background-color: #021740;
  }
 /*FOOTER responsive pour les écrans moins de 1225 px*/ 
   
     .footer{  
       padding-left: 4rem;
       padding-right: 2rem;
       overflow: hidden;
     }
     }


  /* Pour les écrans de moins de 768px*/

  @media (max-width: 768px) {
    /*MAIN */
    /* slider */
    img.slider{
      width: 15rem;
    }
    .container {
      flex-direction: column;
    }
    .image, .article {
      flex: 1;
      min-width: auto;
    }
    .decoration{
      width: 92rem;
      margin-inline: 0;
      margin-bottom: 6rem;
    background: linear-gradient(315deg, rgba(255,255,255,0.13631390056022408) 0%, rgba(249,248,252,0) 100%);
    }
    /* Box du personnage */
.box{
  padding-left: 2rem;
}

.image-container{
  left: 25%;
}
.image-container img{
  width: 15rem;
  object-fit: cover;
}
.tag{
  height: 20%;
  flex-direction: column;
  
}

.details{
  margin-top: 8.5rem;
  padding-top: 12rem;
}
  }
  
 
 /* Pour les écrans de moins de 925px*/
  /* FORM*/
  @media (max-width: 925px) {

.contact-form{
  width: 70%;
  padding-inline:3rem ;
  margin-top:2rem ;
  margin-inline: auto;
  border-radius: 0rem ;
  background: transparent;
}
input {
  align-self: center;
  margin-block: 0.5rem;
  align-self:center;
  margin-inline: auto;
  width: 96%;
  padding: .6rem;
  background: transparent;
  border: #021740 1px solid;
  border-radius: 3rem;
  color: #021740;
  outline-color: #F2CEF2;
}

input.message-input {
  border-radius: 1.2rem;
  padding-bottom: 9rem;
  
}
/* form typo */
.contact-form p{
  color: #ffffff;
  font-family: 'Cantarell';
  line-height: inherit;

}
.contact-form strong{
  color: #ffffff;
}

}

/* ANIMATIONS*/
  /* Scrolling animations: apparition gauche droite) */
  .animation-slide {
    opacity: 0; /* L'élément est initialement invisible */
    transform: translateX(-100%); /* Décale l'élément complètement vers la gauche */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition d'opacité et de translation */
  }
  