@import url('fonts.css');
@import url(//db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever);

/* BACKGROUND */
body{
background:url('Assets/arrière_plan.png') no-repeat;
text-align: justify;
}
  /*HEADER*/
  header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 7% ;
  }
  
  .logo{
    min-width: 20%;
    display: row ;
    align-self: center;
    justify-content: center;
    place-items: center;
    align-items: center;
  }

  .navigation{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .navigation a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Beyno";
    font-size: 1.1rem;
    }
    .navigation a:hover{
      text-decoration: underline;
      color: #ffffff;
      font-family: "Beyno";
      font-size: 1.3rem;
      }
    .navigation a:active{
      text-decoration: underline;
      color: #9E91B7;
      font-weight: 300;
      font-family: "Beyno";
      font-size: 1.2rem;
      transform: translateY(-0.3rem);
      transition: all 1s ease;
      }
/*TYPOGRAPHY*/
h1{
  font-size: 1rem ;
  font-weight: 100;
  
  color: #9E91B7;
  font-family: 'Beyno' ;
  padding-bottom: 0;
}

  h2{
    font-size: 2.9rem ;
    font-weight: 100;
    letter-spacing: 3px;
    color: #F2CEF2;
    font-family: 'Beyno' ;
    padding-top: 0;
  }
  
  p{
    font-size: 0.73rem ;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: 'Cantarell' ;
    padding-bottom: 0.6rem;
  }
  .article-content span{
    color: #FFFFFF;
    font-size: 0.66rem ;
    line-height: 1rem;
    font-family: 'Cantarell';
  }

/* MAIN */
/* Première partie */
.container {
  margin-top: 2rem;
  margin-inline: 8rem;
  display: flex;
  flex-wrap: wrap;
}
.container h1{
  font-size: 3rem ;
  font-weight: 100;
  color: #9E91B7;
  font-family: 'Panthera' ;
  padding-bottom: 0;
}
.container span{
  font-size: 1.8rem ;
  font-weight: light;
  line-height: 3rem;
  color: #9E91B7;
  font-family: 'Beyno' ;
  padding-top: 0;
}
.image {
  border: #b67878 3px solid;
  flex: 7;
  min-width: 300px;
  padding-top: 8rem;
  background: url('Assets/Pantherhome1.png') no-repeat center;
  background-size: 80%;
  background-position-x: 100%;
}
.container p{
  font-size: 0.8rem ;
  text-align: left;
}

.text {
  border: #FFFFFF 2px solid;
  flex: 4;
  min-width: 300px;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

p.more{
  font-size: 0.8rem ;
  text-decoration: underline;
  text-align: left;
  word-spacing: 2px;
  color: #F2CEF2;
  font-weight: 100;
  font-family: 'Cantarell' ;
}
/* Grid layout*/

.article-container {
  padding-top: 4rem;
  display: grid;
  margin-inline: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 1rem;
  column-gap: 4rem;
}

.article{
  height: fit-content;
  border: #37b51e 3px solid;
}
article.aside{
  height: fit-content;
  border: #981cb0 2px solid;

}

iframe.video{
  align-self: center;
  margin: auto;
  width: 34rem ;
  height: 17rem;
}


/* FORM*/
.form-container {
  position: relative;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  place-content: center;
  justify-content: center;
}
.decoration{
  margin-inline: 0;
  margin-bottom: 6rem;
background: linear-gradient(315deg, rgba(255,255,255,0.13631390056022408) 0%, rgba(249,248,252,0) 100%);
}
.contact-form{
  position: absolute;
  z-index: 100;
  top: 0;
  align-self: center;
  margin-inline: auto;
  width: 35%;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.86) 0%, rgba(231, 225, 242, 0.37) 80%);
  justify-items: center;
  margin-top:12rem ;
  margin-inline: 18rem ;
  border-radius: 9rem ;
  padding-block: 2rem;
  padding-inline: 10rem ;
}
#button {
  align-self: center;
  color: #021740;
  margin-top: 1.5em;
  margin-inline: auto;
  justify-content: center;
  width: fit-content;
  padding:  .5rem 3rem;
  background: #F2CEF2;
  border-radius: 3rem ;
}

#button:hover{
  box-shadow: 0px 0px 6px#021740 ;
}

input {
  align-self: center;
  margin-block: 0.5rem;
  align-self:center;
  margin-inline: auto;
  width: 96%;
  padding: .6rem;
  background: transparent;
  border: #021740 1px solid;
  border-radius: 3rem;
  color: #021740;
  outline-color: #F2CEF2;
}

input.message-input {
  border-radius: 1.2rem;
  padding-bottom: 9rem;
  
}
/* form typo */
.contact-form p{
  font-size:0.9rem ;
  text-align: center;
  color: #021740;
  font-family: 'Cantarell';
  line-height: inherit;

}
.contact-form strong{
  padding: 0;
  margin: O;
  text-align: center;
  color: #021740;
  font-size: 2.3rem ;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Cantarell';

}


      /* FOOTER */
footer{
    background: url("Assets/back_footer.png") no-repeat;
    background-color: rgb(77, 114, 114);
    margin: 0;
    
  }
  .footer{  
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
    padding-right: 8rem;
    display: flex;
  }
  
  .footer-image{
    float: left;
    flex: 1;
  }
  .top-down{
    flex: 2;
    justify-content: space-around;
    justify-items: center;
    padding-left: 6%;
  }
  .top-down > p{
    text-align: start;
    align-self: center;
    justify-self: center;
  }
  .side-to-side{
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  .icon-list{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  .icon-list > img{
    width: wrap;
    max-width: 20rem;  
  }
  .icon-list > img:hover{
    width: wrap;
    transform: scale(1.6);
    transition: all .5s ease;
  }
  .icon-list > img:hover{
    transform: rotate(20%);
  }
  #footer-deco{
    width: 18rem;
  }
  #footer-logo{
    z-index: 100;
    position:relative;
    bottom: 53%;
    left: 19%;
  }
  .footer-image:hover{
    transform: scale(110%);
    transition: all 0.5s ease;
    
  }
  /* FOOTER TYPO*/
  .footer h1{
    font-size: 1.5rem;
    letter-spacing: 6px;
    font-family:'Cantarell' ;
  }
  
  .footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-family:'Cantarell' ;
  }
  .footer a:hover{
    text-decoration: none;
    color: #9E91B7;
    font-weight: 400;
    font-size: 1.4rem;
    font-family:'Cantarell' ;
    transform: translateX(+30%);
  }
  .footer p{
    color: #ffffff;
    font-size: 1rem;
    font-family:'Cantarell' ;
  }
  
  /* EFFET FADE  IN */
  .fade-in-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in-left 2s forwards;
  }
  
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  /* RESPONSIVENESS*/
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .image, .article {
      flex: 1;
      min-width: auto;
    }
  }
  