@import url('fonts.css');
@import url(//db.onlinewebfonts.com/c/582850da0def991b32a24aa69a948d25?family=Wakanda+Forever);

/* BACKGROUND */
body{
height: fit-content;
background:url('Assets/arrière_plan.png') repeat;
background-position: center;
padding: 0;
margin: 0;
text-align: justify;
}
  /*HEADER*/
  header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 7% ;
  }
  
  .logo{
    min-width: 20%;
    display: row ;
    align-self: center;
    justify-content: center;
    place-items: center;
    align-items: center;
  }

  .navigation{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .navigation a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Beyno";
    font-size: 1.1rem;
    }
    .navigation a:hover{
      text-decoration: underline;
      color: #ffffff;
      font-family: "Beyno";
      font-size: 1.3rem;
      }
    .navigation a:active{
      text-decoration: underline;
      color: #9E91B7;
      font-weight: 300;
      font-family: "Beyno";
      font-size: 1.2rem;
      transform: translateY(-0.3rem);
      transition: all 1s ease;
      }
/*TYPOGRAPHY*/
h1{
    font-size: 1rem ;
    font-weight: 100;
    color: #9E91B7;
    font-family: 'Beyno' ;
    padding-bottom: 0;
  }
  h2{
    font-size: 2.9rem ;
    font-weight: 100;
    letter-spacing: 3px;
    color: #F2CEF2;
    font-family: 'Beyno' ;
    padding-top: 0;
  }
  p{
    font-size: 0.73rem ;
    text-align: justify;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: 'Cantarell' ;
    padding-bottom: 2%;
  }
 
  span{
    line-height: 1.5rem;
    font-family: 'Wakanda Forever';
    font-size: 1rem ;
  }
  span.article-content{
    font-size: 0.66rem ;
    line-height: 1rem;
    font-family: 'Cantarell';
  }

    /* MAIN */
main{
  z-index: 0;
  height: fit-content;
  margin: 0;
}
/* Side icons*/
.side-icons{
  width: 6rem;
  display: flex;
  justify-content: center;
  position: fixed;
top: 0%;
left: 1%;
}
.first-line{
background-color: #9E91B7;
height: 28rem;
width: 2.5px;
}
.second-line{
  background-color: #9E91B7;
  height: 20rem;
  width: 2px;
  margin-inline: auto;
  }
.second{
  width: 30%;
  display: block;
  
}
.second a{
  text-decoration: none;
  margin-inline: auto;
}
.icons{
  margin-inline:auto ;
  width: 50%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  place-items: center;
  padding-inline:auto ;
}
.icons i{
  padding-top: 1em ;
  display: block;
  place-self: center;
  margin-inline: auto;
  padding-inline:auto ;
  color: #9E91B7;
}
.icons i:hover{
  transform: scale(1.5);
  color: #DF99F2;
}
    /* Grid layout*/ 
    .article{
      height: fit-content;
    }
    
    iframe.video{
      align-self: center;
      margin: auto;
      width: 90% ;
      height: auto;
    }
    .article-container {
      height: fit-content;
      background: url('Assets/Pantherwakanda2.png') no-repeat center;
      background-size: 90% ;
      background-position-y: 0% ;
      background-position-x: 40% ;
      padding-block: 4rem;
      display: grid;
      margin-inline: 8rem;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      row-gap: 1rem;
      column-gap: 5rem;
    }
    .article-image{
      margin: auto;
      width: 90%;

    }

    /*container*/
    .container {
      padding: 0;
      margin:0;
      overflow: hidden;
      height: fit-content;
    }
    
    .container img {
      position: relative;
      left: -10%;
      object-fit: cover;
    }

    .container article {
      align-self: start;
      position: absolute;
      top: 40%;
      left: 8%;
      width: 60%;
      padding: 20px;
      height: fit-content;
    }
    .container h2{
      font-size: 3.2rem ;

    }
    .container  span{
      font-size: 2.6rem ;
      font-weight: light;
      letter-spacing: 3px;
      word-spacing: 1rem;
      line-height: 3rem;
      color: #9E91B7;
      font-family: 'Wakanda Forever' ;
      padding-top: 0;
    }
    .container p{
      padding-right: 42%;
      font-size: 1rem ;
    }
    .optional{
      display: none;
    }



      /* FOOTER */
footer{
    background: url("Assets/back_footer.png") no-repeat;
    background-color: rgb(77, 114, 114);
    margin: 0;
    
  }
  .footer{  
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
    padding-right: 8rem;
    display: flex;
  }
  
  .footer-image{
    float: left;
    flex: 1;
  }
  .top-down{
    flex: 2;
    justify-content: space-around;
    justify-items: center;
    padding-left: 6%;
  }
  .top-down > p{
    text-align: start;
    align-self: center;
    justify-self: center;
  }
  .side-to-side{
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  .icon-list{
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  .icon-list > img{
    width: wrap;
    max-width: 20rem;  
  }
  .icon-list > img:hover{
    width: wrap;
    transform: scale(1.6);
    transition: all .5s ease;
  }
  .icon-list > img:hover{
    transform: rotate(20%);
  }
  #footer-deco{
    width: 18rem;
  }
  #footer-logo{
    z-index: 100;
    position:relative;
    bottom: 53%;
    left: 19%;
  }
  .footer-image:hover{
    transform: scale(110%);
    transition: all 0.5s ease;
    
  }
  /* FOOTER TYPO*/
  .footer h1{
    color: #ffffff;
    letter-spacing: 6px;
    font-size: 1.5rem;
    Letter-spacing : 28% ;
    font-family:'Cantarell' ;
  }
  
  .footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-family:'Cantarell' ;
  }
  .footer a:hover{
    text-decoration: none;
    color: #9E91B7;
    font-weight: 400;
    font-size: 1.4rem;
    font-family:'Cantarell' ;
    transform: translateX(+30%);
  }
  .footer p{
    color: #ffffff;
    font-size: 1rem;
    font-family:'Cantarell' ;
  }
  
  /* EFFET FADE  IN */
  .fade-in-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in-left 2s forwards;
  }
  
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* RESPONSIVENESS */
  /*HEADER responsive*/

  /*pour les écrans moins de 700 px*/ 

  @media (max-width: 700px) {
    /*FOOTER responsive  pour les écrans moins de 700 px*/ 
    .footer{  
     padding-left: 4rem;
     padding-right: 2rem;
     padding-top: 4rem;
     padding-bottom: 1em;
     overflow: hidden;
   }
   .side-to-side{
     flex-direction: column;
   }
 
   .icon-list > img{
     width: wrap;
     max-width: 10rem;  
   }
   .footer-image{
     display: none;
   }
   .footer h1{
     font-size: 0.9rem;
     Letter-spacing : 12% ;
   }
   .footer a{
     font-size: 0.7rem;
   }
   .footer p{
     font-size: 0.6rem;
   } 
   }


/*pour les écrans moins de 768 px*/ 
/*MAIN
    Grid Layout margins */
   @media (max-width: 768px) {
    .article-container {
      grid-template-columns: 1fr;
      margin-inline: 0rem;
    }
  }
   
 

  /*pour les écrans moins de 975 px*/ 
 @media (max-width: 975px) {
   /*HEADER responsive pour les écrans moins de 975 px **/
   .navigation{
     width: fit-content;
     display: flex;
     flex-direction: column;
     justify-items: space-between;
   }
   .navigation a{
     font-size: 1.1rem;
     padding-block: .5rem;
     text-align: right;
     }
     /*MAIN*/
     /*container*/
     /*making container and content invisible*/
     .container {
      display: none;
    }
    .container img {
      display: none;
    }
    .container article{
      display: none;
    }
    .mini{
      width: 18rem;
      align-self: center;
      margin-inline: auto;
      justify-self: center;
    }
    .optional{
      display: block;
      padding-inline: 2rem ;
    }
    .container h2{
      font-size: 1.5rem ;

    }
    .container  span{
      font-size: 1.2rem ;
    }
    .container p{
      padding-right: 42%;
      font-size: 0.8rem ;
    }
    /*Grid Layout margins */
    .article-container {
      margin-right: 0;
      column-gap: 1rem;
    }


    /*FOOTER responsive  pour les écrans moins de 975 px*/ 
    .footer{  
     padding-left: 4rem;
     padding-right: 2rem;
     padding-top: 4rem;
     padding-bottom: 1em;
     overflow: hidden;
   }
   .side-to-side{
     flex-direction: column;
   }
 
   .icon-list > img{
     width: wrap;
     max-width: 10rem;  
   }
   #footer-deco{
     width: 18rem;
   }
   #footer-logo{
     z-index: 100;
     position:relative;
     bottom: 49%;
     left: 19.5%;
   }
   .icon-list{
     width: 65%;
   }
   .footer h1{
     font-size: 1.2rem;
     Letter-spacing : 22% ;
   }
   .footer a{
     font-size: 1rem;
   }
   .footer p{
     font-size: 0.7rem;
   }
     
   }
   
 /*pour les écrans moins de 1225px*/ 
   @media (max-width: 1225px) {
     /*FOOTER responsive pour les écrans moins de 1225 px*/ 
     .footer{  
       padding-left: 4rem;
       padding-right: 2rem;
       overflow: hidden;
     }

     /*MAIN*/
     /*container*/
     .container {
      padding-top: 10rem;
      position: relative;
      top: 10%;
      overflow: hidden;
      height: fit-content;
      display: block;
    }

    .container img {
      position: relative;
      width: 60%;
      align-self: center;
      justify-self: center;
    }
   
    .container article {
      align-self: start;
      position: absolute;
      top: 0%;
      left: 50%;
      border: #fdb877 2px solid;
      width: 40%;
      margin-right: 1rem;
      height: fit-content;
    }
    .container h2{
      font-size: 2.5rem ;

    }
    .container  span{
      text-align: center;
      font-size: 2.2rem ;
    }
    .container p{
      text-align: center;
      font-size: 1rem ;
      padding: 0;
    }
    /*Grid Layout margins */
    .article-container {
      margin-inline: 5rem;
      column-gap: 3rem;
    }
     }
  .zoom-wakanda:hover{
    transform: scale(1.2);
  }

  /* ANIMATIONS*/
  /* Scrolling animations: apparition gauche droite) */
  .animation-slide {
    opacity: 0; /* L'élément est initialement invisible */
    transform: translateX(-100%); /* Décale l'élément complètement vers la gauche */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition d'opacité et de translation */
  }
  

  